 body {
    background-color: grey;
}

.header {
    background-image: url("../img/alaskan waterfall.jpg");
    height: 25rem;
    width: 100%;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0);
    border-radius: 10px;
}

h1 {
    font-size: 60px;
    color: white;
    text-align: center;
    text-decoration: underline;
    text-shadow: #111 2px 2px 2px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #182747;
    border-radius: 10px;
}

li {
    float: left;
}

li a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: white;
}

li a:hover {
    background-color: rgb(100, 126, 104);
}

li a:visited {
    color: olivedrab
}

li a:active {
    color: red;
}

section {
    background-color: #182747;
    height: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0);
    margin-top: 40px;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 55px;
}

section h2 {
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: #111 2px 2px 2px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid grey; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color:rgb(100, 126, 104);
    padding: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
  